body,html{
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}


.up{
    background-color: #132043;   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.up > h1{
    margin-bottom: 40px;
    color: #FDF0F0;
}

#weather-form{
    margin-bottom: 50px;
}
#weather-form > input[type=search]{
    background-color: #1F4172;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    color: #FDF0F0;
    border: 1px solid #1F4172;
}

#weather-form > button{
    background-color: #F1B4BB;
    width: 150px;
    height: 40px;
    border: 1px solid #F1B4BB;
    border-radius: 5px;
    color: #FDF0F0;
    font-size: larger;
}

#weather-form > button:hover{
    background-color: #de939c;
}

.down{
    height: 100%;
    background-color: #1F4172;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.card{
    margin-top:100px;
    background-color: #132043;
    width: 30%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FDF0F0;
}
